<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IntervalTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <IntervalTimer.Properties.Settings>
            <setting name="cfgMainTime" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="cfgCoolTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="cfgContinuous" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cfgOpacity" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="cfgLocationX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cfgLocationY" serializeAs="String">
                <value>0</value>
            </setting>
        </IntervalTimer.Properties.Settings>
    </userSettings>
</configuration>